<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    {{#if css}}
      <style>
        {{{ css }}}
      </style>
    {{else}}
      <link rel="stylesheet" href="main.css">
    {{/if}}
  </head>
  <body>
    <div class="stage">
      <canvas class="bg" width="800" height="800"></canvas>
      <canvas class="camera" width="800" height="600"></canvas>
      <canvas class="hud" width="800" height="600"></canvas>
    </div>
    <img class="heart" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAApElEQVQ4T6WTMQ6AIBAElxfZ6l9s7H2OvRY8htbO32AOuciROzDRhsTbHRZWHX4+7qcfNSAWwE+zUhQVN8/TLGT69KxpJgT04tw2DOv6KgCU4BoiAMkcAoL3GBuXcwBYcgqZYJ67ZvKZAIrX2plD2Qk+dEqbXMoRyCpa0Fi1uWyB9SZEM2sANYlltgAC0jK3AAmy54Nx59q99H4m/ghNXQ/QLfYGZT84EUBGgjoAAAAASUVORK5CYII=" alt="" />
    <img class="bomb" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAnElEQVQ4T62T7w0AEQzFmcYAEuNYwDwWIDGMxACmcSFXcf5cXZzPfb++6islh4/u6JVSSWs9rUUBb+Lc/BWAiTFA6sb7NEIRc84LI4QArAEyoyYQMsaqiRgjgB6aJaAVSymJMYY454axe8DQXQhRXVhrBxcoIKszxHtPZmNsAcDCDiDX/vOJs4jf60S3UFyc5KBtDmlcRh49JuxaL7LdRxFETUynAAAAAElFTkSuQmCC" alt="" />
    <img class="arrow" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAGFBMVEVMaXEAAAApFQBaLQCQAAAzMzM2BATMzMxS+hqqAAAAAXRSTlMAQObYZgAAAD1JREFUeAFjGJ6AEQhQBAThAoIQBS4hYSICYH65EgiouaS6JoJlyo3hwJABWYUrRAXCjJSwkBABDFuGFQAABVEKy99jA94AAAAASUVORK5CYII=" alt="" />
    <img class="wizard1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAsCAMAAAAzZkq9AAAATlBMVEUAAAAAAAA8ZBwcPRdHZo9pkSsQODh4YR/M6/8sWGzDnzjUjFKCrdQ4Nibrs4U4i5d1Pi3rzzgfMGn/2a1kt7//6IVrFxfT09NSLiGUlJSLNx2kAAAAAXRSTlMAQObYZgAAAZNJREFUeAGVkoWC3UAMAyvbyxs+/P8frZzDQK+tHr+ZJSW//ivxK3cYsZCUMk2l8Nsd91CZHqYylYsBx5MPj+XBP+N1gokhozGVG8G3QLQznwdHniqpb2GeW2v+dhKGVKsbcxvHjRlrOi9BhVmYx8fHpabhJHD2YUifGWZchT1cwtMuwhsusQHwPeCu6LmVuL0CPgOuTVLYYtuen57uhX0DPwqIPofnugcPdmE8CadFwCL/xAdvB/CrwB3c8er1qmLPMNzwZamDqWrSBLsKqXICdBOtWq1fhOgBtHcrxTIuN/x+uypUteecRc8COZ+qwiQkEZw5MalKCFJRQzgLXJ9Q8C4sC04czl0QqQsA8qsgQRUpAWb9KOw8eUWVlKfopjhNoArvkhbT7XiKtx0qeJF8I0E0SzgK8AIoNA0ezXx9GV4xuSgA2QXpdicwTr3onoN8FwD94mY9HwVErKofgvHT+ffrCaxuON8j1iUfqqJh64chYrkf+a6YraswZtmbxFFgOIn1nj2GK2YAvHiAK/9SrvQ3uTYW9yTfemcAAAAASUVORK5CYII=" alt="" />
    <img class="wizard2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAsCAMAAAAzZkq9AAAATlBMVEUAAAAAAAAcPRd4YR8QODgsWGw8ZBxHZo/UjFI4NiaCrdTDnzg4i5dpkSvM6/91Pi3rzzj/2a3rs4Vkt7//6IUfMGlrFxdSLiHT09OUlJQ4EZXSAAAAAXRSTlMAQObYZgAAAZJJREFUeF6VkYlu20AQQ8OZvXX5Str+/4+WhJBGq1UKhAZsAe95Lr39KOErVxghksQ4zzHy6YorVObnHOc4GBCe9fcQn/oNY4GZeQqxwIWwj0BOpjrouU+kGmHbSin6OgnVp0nGVh6PO/OY/NyCCnNjXq/XbfJ6Eli9Vv+XumEQ9rCFUgZhxzEUAJoBV4feSgz3P4AqYLikhHso998fH9dCYMp/BQTVUMYZFEDC41uhMgE85Ddcd/QK6C1ogjpwnpiGGRRUr0MBChXZzM1h2XuD41X3CmvZJn4yasWRx8AAZjRizLkBOBUIMRpMxrquLVHtCiiBNC1LcnhaEnpBOCVyChOmRYJ1I4Aw4VNIiYIfBHEiOMntBufG5hs6nhYzgNdw5AzASzkKbmY+gQox92h6Oi4JHVIWe2jTlIg7AXxDohoz0VguhLILMvK6GPol1POT65b52IPMmKSIa8zGHodA/FPI9Nqae+H9q4CS8iC8U6Gz45Tz2igcAiq7I9qa+CmQkwlJicVHQ8Ev5oRH8e0H+QtwPRcHaY+McQAAAABJRU5ErkJggg==" alt="" />
    <img class="floor-right" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAALVBMVEUAAABpjCeHqD6mxFolKxo6VA8cEwuhgmwXFxeHaFLK5n44JxlSOim6m4ZrUDz82OfoAAAAAXRSTlMAQObYZgAAAYFJREFUeNqNkVGO5CAMRGNsgwlJ7n/cfYagzUjzMaXuhlQ9KkZ9/FXy+x7ZMkQ+q/wAvJQiv2hz7lImkj9lSlWntQhxQTPHP3VpdnIAIFcBd18n5VN4nnSUciIl3fUoU/YcO45tKNhO0ZnnxGwB50rPrzRrnQZB8yYi+qrw4SsAeU1xRDoxc3Ois4C4igHM6xgNYV7MJJGFWfEEzDGDisALE1dneIMw1gRCxHimwTSCtwA7YKj6/i8cQiKsJB00ADlwLEATEE4XlSgepoKZxNsgZ9IWoaRFAth5P+SR4jCm45sqEH4OxSjhC4hIoGSzsM+BGVLxSVEkgBtGybrSnGmELaBytFQbYzztfkJh1Wq96gbYP2Z11Kvd7amMwRMatoExrn5hkLcLsOL0zv7aDaO3PgBa6/0C6P2+gdvYQG/33ZMjz2Wm0McGWjpJZH3bMfnSeL1OzKBLdGW2X/F64817bo8PcL3u8w7aK/oCo79KFm46/4FexyYuCCYdF7d6dv4PoaMQqz/NQQ4AAAAASUVORK5CYII=" alt="" />
    <img class="floor-left" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAALVBMVEUAAACHqD4cEwtpjCeHaFI4JxkXFxemxFqhgmwlKxo6VA9SOim6m4bK5n5rUDxNmlg3AAAAAXRSTlMAQObYZgAAAXFJREFUeNqVkdu2wyAIRI8ioGjy/5/bmaJJX8+sZSXM5pL071+Sn7jk9T6WXyHh7i/k/noC7YBH6CMi4fKovMoGfl3sAiuoB4ND4DTGQZR+uTwH0Wc+y+kkF5HPHCHCGSzwzTKkzggbEe65yYWTIrSBESPM+IvJJtewKL4HSgIhJCy8mIUMG+IyhpQQdCBhJQzW5QNXGTjuqCgy9scMD5S5FINIsU8MhL6BKOIlBr0hCchAY4vzbxTuGV8AJ4KbsEA2UEYavNTYphjj8XSwG2lmqtriiIKYidOht9Zn1Xar9rU6kFpZYenLvFvTOVtvqq2Dxl1nraoJWJ3I3HMBqI1Ctxud6gYq2dnhw9nSxU71AeAzM1URp+C/AHdjhYLFLtgDBIG3Q98+0msB7mQfgLrpo4zutzunHeBI+7EJY6UDkAY/YW5b8zU0AVr3VD1+pei/AA2t+yOyYQLzAJqA7nJ+r+8KZwcOZ1KpOtfKl5hT6wfRaRFa7I2naQAAAABJRU5ErkJggg==" alt="" />
    <img class="floor-middle" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAKlBMVEUAAACHqD5pjCc6VA+mxFolKxrK5n44JxkcEwtSOilrUDyhgmyHaFK6m4YULsMOAAAAAXRSTlMAQObYZgAAAYpJREFUeNqdkOuy4CAIg721oOL7v+5+UXvOzuy/zbQKJATa9L/IfyflXy5nrnPXUnJruT7PU2uplZNSqa0oeGpq5SAj23jfl4ab4tAapKIr28FJqo70kkpw0AjV++uaqCK9+LE5FaicXpAvzgJaoRw3UhwYxovN7x7q0iyQOJ8HmiM/teyv5cnoC3dJrLcFvI2yYoiyixIm/RDaeBEQQlYyrHTnlqiaubl7bpWzw7pRErqzw+PD3eZ0f83GCKukvcMiOgIMxlrd324RQXd0A/uQAN7Wmms0Grv4tTSCLOZIDZ+5wAzoLVDCCJQEKT5+ju49UCgNTQmKM2kbAtCdDoiYuN17RjJmBcGQkAoEgEdAGYEUwzBydcD4AUIZJYe/P2Zc3gTXQrQl79Y3vabTcj8PewldAtNoeLqdHlkvKigECRYIZ7FhQsAKgZP5TKx2FC5Dm9CXN9OdVKJ4px9S238JS4oHql02jtkVoPhMfdPDhU+dGB4/gr55De+cqiEIt/jmsrcx/FsykP8BWekaDRWalM4AAAAASUVORK5CYII=" alt="" />
    <img class="spikes" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAALBAMAAADsP5IyAAAAG1BMVEUAAAAzMzOcnJx4eHi9vb1XV1ccEwtSOilrUDzwI7XUAAAAAXRSTlMAQObYZgAAAHZJREFUeAEVyEVhxAAQBdA3sxEQMLAkIAKWQUulVFjvVVAICci93D8fBwCnhAQACv/mZIn7wqmQfHNaWvrEtwTdbBmd6FLSnJhREj8SIfw/f0op+dKXbdcrqyj3kotSBMv8GRrJ82yL7Dh8y0dVeqVst4rp6eEXa3MbsFJisC8AAAAASUVORK5CYII=" alt="" />
    <img class="glitch1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAsCAMAAAAzZkq9AAAAJ1BMVEUAAAB4Uj1FKyuheFQpHxQAAAB1Pi3/2a3UjFLrs4WjMzPT09OUlJQ407pZAAAAAXRSTlMAQObYZgAAARhJREFUeNqF04uOgzAMRNH11EmB3f//3rUdGJc4qFaFqt6jhFd/Pgfn8Ie5yitGVob1wTAnMbPqzEFmIHKtP1gCFRt2rieTyJ4gBQKwx5f2CZRdxjU0oEXKFUaPsdjYeRLsAHrv7Qaah6u31m2iJ4CXcfg7jiWI7ov/HsdmswSqvW8G9n0nSAHAwLa/Y/YC8A3EZRLUzifZt62cgYOY8y7aoPbxjuSzugNlGESwAiTxqfdJbdJN4GwCGOUplD0cOPXjBM4F4mCEPQHA91YBPIFXABGgdL0DXYB88csCBQhKJ4guWgH0O0AAiIPSuYc8AO5x/XfuQAhkHCbQQsQeiCwEKSQEJIadoDkR1bGKNgOVeHPFXEnMlP8B7V8JQlGdMqIAAAAASUVORK5CYII=" alt="" />
    <img class="glitch2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAsCAMAAAAzZkq9AAAAJ1BMVEUAAABFKyt4Uj2heFQpHxQAAAB1Pi3/2a3UjFLrs4WjMzPT09OUlJRqiCNcAAAAAXRSTlMAQObYZgAAARtJREFUeNqV04tuhDAMRNHONEmB9v+/txMbyyUGoVor9nGPLEDsx78G5zxWftrwziDqg/F8ITI3PbORFZCx31mCRk12xp5FZE+QAgLRA/a/oEW3dxId6JZyg3cbxR49TyK6MsYY/QL6DNF7HxrrCTCLH36O4w54n8u/j2PT3ILWxtgE9n0XWAUAgW3/stkLwBuw6wxQezwxwNi2PINyFVJ2GzvKAl/BcxNX0EALQXRcACkRZCLc3OmmAR0VAFgjIJs9RTsfGcw987AA/SggMV8i0RPAgLpmfqkdeSH6hDfwuCHuQ+0CeAEIoN5uQf430EoPQAeLUHFhAARYAGOFLSDRy9MQAtSgXYEJmvAPXb0IJ1D1XIhGKWqdh/YL5hUJG0GN9wUAAAAASUVORK5CYII=" alt="" />
    {{#if js}}
      <script>
        {{{ js }}}
      </script>
    {{else}}
      <script src='main.js'></script>
    {{/if}}
  </body>
</html>
